@model List<Day>
@{
    ViewData["Title"] = "Tijdlijn";

    DateTime date = DateTime.Now;
    if (ViewBag.Date is DateTime)
    {
        date = ViewBag.Date;
    }
}

@section Scripts {
    <script type="text/javascript">
		$("#date").datepicker({
			format: "dd-mm-yyyy",
			language: "nl"
		});


		function changeDate(schuif) {
            var url = "@Url.Action("Index", "Home")";

			var date = $("#date").val();

			if (schuif != undefined) {
				var dtm = DateFromString(date);
				dtm = dtm.addDays(schuif);
				date = DateToString(dtm);
			}

			window.location.href = url += "?date=" + date;
		}
    </script>
}

<div class="form-group">
    <label for="date" class="sr-only">Datum</label>
    <input type="text" name="date" id="date" class="form-control" value="@date.ToString("dd-MM-yyyy")" onchange="changeDate();" style="width: calc(100% - 90px);float: left;">
    <div class="buttons" style="float:right;margin-left:5px">
        <input type="button" class="btn btn-primary" value="<" onclick="changeDate(-1);">
        <input type="button" class="btn btn-primary" value=">" onclick="changeDate(1);">
    </div>
</div>

@{
    var rides = Model.Where(d => d.Ride is Ride).Select(d => d.Ride).ToList();
    <partial name="_MapPartial" model="new MapData { Rides = rides }" />
    <div style="clear:both;"><br /></div>
}

<table class="table table-striped">
    <thead>
        <tr><th>Plaats</th><th>Tijd</th><th>Tijdsduur</th></tr>
    </thead>
    <tbody>
        @foreach (Day day in Model)
        {
            <tr>
                @if (day.Location is Location)
                {
                    <td>
                        <a href="{{ url('locatie_dag', { 'id': dag_entry.getLocatie.id }) }}">
                            @day.Location.Label
                        </a>
                    </td>
                    <td>
                        @if (day.Id == Model.Last().Id
                         && day.Id != Model.FirstOrDefault().Id) // Last entry of the day
                        {
                            @day.TimeFrom.ToString("HH:mm")
                            @Html.Raw(" - ")
                            if (day.TimeFrom.Date == day.TimeTo.Date)
                            {
                                @day.TimeTo.ToString("HH:mm")
                            }
                            else
                            {
                                @day.TimeTo.ToString("HH:mm d")@Html.Raw("e")
                            }
                        }
                        else
                        {
                            @day.GetTimeDisplay();
                        }
                    </td>
                }
                else if (day.Ride is Ride)
                {
                    <td></td>
                    <td>
                        <a href="{{ url('rit', { 'id': dag_entry.getRit.id }) }}">
                            @day.Ride.GetDistanceInKilometers()
                            @Html.Raw("km - ")
                            @day.Ride.GetSpeed()
                            @Html.Raw("km/u")
                        </a>
                    </td>
                }
                <td>@day.GetTimeSpendDisplay()</td>
            </tr>
        }
    </tbody>
</table>
