@model Ride
@{
    ViewData["Title"] = "Rit";
}

<h4>@Model.TimeFrom.ToString("dd-MM HH:mm") - @Model.TimeTo.ToString("HH:mm")</h4>
<h5>
    @Model.GetDistanceInKilometers()
    @Html.Raw("km - ")
    @Model.GetSpeed()
    @Html.Raw("km/u")
</h5>
<partial name="_MapPartial" model="new MapData { Rides = new List<Ride> { Model } }" />

<h4>Taggen</h4>
<form action="{{ url('rit_save') }}" method="post">
    <input type="hidden" name="id" value="{{ rit.id }}" />
    <div class="form-group">
        <input type="text" name="tags" value="{{ tags }}" class="form-control" id="tags" aria-describedby="tagsHelp" placeholder="Tags">
        <small id="tagsHelp" class="form-text text-muted">Komma gescheiden.</small>
    </div>
    <input type="submit" class="btn btn-primary" value="Opslaan">
</form>
<hr />
<h4>Rit verwijderen</h4>
<form action="{{ url('rit_delete') }}" method="post" onsubmit="return confirm('Weet je het zeker?')">
    <input type="hidden" name="id" value="{{ rit.id }}" />

    <div class="form-check">
        <input class="form-check-input" name="delete_pings" type="checkbox" value="1" id="delping">
        <label class="form-check-label" for="delping">
            Verwijder pings
        </label>
    </div>

    <input type="submit" class="btn btn-primary" value="Verwijder">
</form>
