@model MapData
@inject Microsoft.Extensions.Options.IOptions<LocationTracker.Utils.AppSettings> appsettings
@{
    var options = appsettings.Value;
}
<script src="https://js.api.here.com/v3/3.1/mapsjs-core.js" type="text/javascript" charset="utf-8"></script>
<script src="https://js.api.here.com/v3/3.1/mapsjs-service.js" type="text/javascript" charset="utf-8"></script>
<script src="https://js.api.here.com/v3/3.1/mapsjs-ui.js" type="text/javascript" charset="utf-8"></script>
<script src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.1/mapsjs-ui.css" />
<script src="~/js/randomColor.js"></script>
<div style="width: 100%; height: 480px" id="mapContainer"></div>

@if (Model.Rides.Count == 1)
{
    <div class="slidecontainer">
        <input type="range" min="1" max="100" value="100" class="slider" id="timeSlider">
        <button data-trigger="split-ride" data-ride-id="@Model.Rides.FirstOrDefault().Id" class="btn btn-primary" id="splitRide" style="display:none;">Split</button>
        <span id="timeSliderValue"></span>
    </div>
}

<div data-configuration
     data-here-api-key="@options.HereApiKey"
     data-here-app-id="@options.HereAppId"
     data-here-app-code="@options.HereAppCode"
     style="display: none;">
</div>
<div data-container="coordinates" style="display: none;">
    @foreach (var ride in Model.Rides)
    {
        <ride data-id="@ride.Id">
            @foreach (var ping in ride.GetPings().OrderBy(p => p.Time))
            {
                <coord data-lat="@ping.Latitude" data-long="@ping.Longitude" data-time="@ping.Time"></coord>
            }
        </ride>
    }
    <markers>
        @if (Model.Latitude != null && Model.Longitude != null)
        {
            <coord data-lat="@Model.Latitude" data-long="@Model.Longitude"></coord>
        }
    </markers>
</div>
<script src="~/js/map.js" asp-append-version="true"></script>
