<h4>Locatie</h4>
<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <a class="nav-link active" href="@Url.Action("Index", "Home")">Tijdlijn</a>
        <a class="nav-link" href="@Url.Action("Process", "Home")">Verwerk</a>
    </li>

    <li class="nav-item dropdown">
        <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="#">
            Statistieken
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li class="nav-item"><a class="dropdown-item" href="@Url.Action("Year", "Stats")">Jaar</a></li>
            <li class="nav-item"><a class="dropdown-item" href="@Url.Action("Index", "Running")">Hardlopen</a></li>
        </ul>
    </li>

    <li class="nav-item dropdown">
        <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="#">
            Instellingen
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li class="nav-item"><a class="dropdown-item" href="@Url.Action("Index", "Location")">Locaties</a></li>
            <li class="nav-item"><a class="dropdown-item" href="@Url.Action("Index", "Tag")">Tags</a></li>
            <li class="nav-item"><a class="dropdown-item" href="@Url.Action("Index", "Import")">Importeer GPX</a></li>
        </ul>
    </li>
</ul>
