@model List<Stats>
@{
    ViewData["Title"] = "Jaar";
}
<table class="table table-striped table-responsive yearly-stats">
    <thead>
        <tr>
            <th scope="col">Periode</th>
            <th scope="col">Onderweg</th>
            <th scope="col">Wandelen</th>
            <th scope="col">Hardlopen</th>
            <th scope="col">Locaties</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var stats in Model)
        {
            <tr class="@(stats.SummaryRow ? "summary" : "")">
                <th scope="row">@stats.Label</th>
                <td>@(stats.All.Meters / 1000) km<br />@(stats.All.Minutes / 60) uur (@(Math.Round(stats.All.Minutes / 60 / stats.TotalHours * 100))%)</td>
                <td>@(stats.Walking.Meters / 1000) km<br />@(stats.Walking.Minutes / 60) uur (@(Math.Round(stats.Walking.Minutes / 60 / stats.TotalHours * 100))%)</td>
                <td>@(stats.Running.Meters / 1000) km<br />@(stats.Running.Minutes / 60) uur (@(Math.Round(stats.Running.Minutes / 60 / stats.TotalHours * 100))%)</td>
                <td>
                    <table style="width:100%;">
                        @foreach (var location in stats.Locations.Take(stats.SummaryRow ? 5 : 3))
                        {
                            <tr>
                                <td>@location.Key&nbsp;&nbsp;</td>
                                <td>@(location.Value / 60) uur (@Math.Round(location.Value / 60 / stats.TotalHours * 100)%)</td>
                            </tr>
                        }
                    </table>
                </td>
            </tr>
        }
    </tbody>
</table>
