@model List<Location>
@{
    ViewData["Title"] = "Locaties";
}
@Html.ActionLink("Nieuwe locatie", "New", "Location", null, new { @class = "btn btn-primary" })

<table class="table table-striped">
    <thead>
        <tr><th>Naam</th><th>Actie</th></tr>
    </thead>
    <tbody>
        @foreach (var location in Model)
        {
            <tr>
                <td>@location.Label</td>
                <td>
                    @Html.ActionLink("Historie", "History", "Location", new { id = location.Id }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Wijzigen", "Edit", "Location", new { id = location.Id }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Samenvoegen", "Merge", "Location", new { id = location.Id }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Verwijderen", "Delete", "Location", new { id = location.Id }, new { @class = "btn btn-primary", @onclick = "return confirm('Weet je het zeker?');" })
                </td>
            </tr>
        }
    </tbody>
</table>
