@model Location
@{
    ViewData["Title"] = "Locatie";
}

@section Scripts {
    <script type="text/javascript">
		function changeDatum() {
            var url = "@Url.Action("Index", "Location", new { id = Model.Id })";

			var start = $("#start").val();
			var eind = $("#eind").val();

			window.location.href = url += "?from=" + start + "&to=" + eind;
		}
    </script>
}

<h4>@Model.Label</h4>
<div class="row">
    <div class="col-12 col-sm-12 col-md-5 col-lg-4 mt-3">
        <label for="datum" class="sr-only">Periode</label>

        <input type="text" name="start" id="start" class="datepicker form-control" value="@ViewBag.From.ToString("dd-MM-yyyy")" style="width: 100px;float: left;margin-right:10px;">
        <input type="text" name="eind" id="eind" class="datepicker form-control" value="@ViewBag.To.ToString("dd-MM-yyyy")" style="width: 100px;float: left;margin-right:10px;">
        <input type="button" class="btn btn-primary" value="Go" onclick="changeDatum();">&nbsp;&nbsp;&nbsp;
    </div>
    <div class="col-12 col-sm-12 col-md-7 col-lg-8 mt-3" style="text-align:right;">
        @Html.ActionLink("Samenvoegen", "Merge", "Location", new { id = Model.Id }, new { @class = "btn btn-primary" })
        @Html.ActionLink("Wijzigen", "Edit", "Location", new { id = Model.Id }, new { @class = "btn btn-primary" })
        <input type="button" class="btn btn-primary" onclick="window.open('https://www.google.com/maps/search/@Model.Latitude,@Model.Longitude', '_blank');" value="Navigeren">
    </div>
</div>

<div style="clear:both;"></div>
<br />

<partial name="_MapPartial" model="new MapData { Latitude = Model.Latitude, Longitude = Model.Longitude }" />
<div style="clear:both;"></div>
<br />
<br />

<table class="table table-striped">
    <thead>
        <tr>
            <th>Bezoek</th>
            <th>Tijdsduur</th>
            <th style='width:16px;'>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var day in Model.Days.Where(d => d.TimeFrom >= ViewBag.From && d.TimeFrom <= ViewBag.To))
        {
            <tr>
                <td>
                    @day.TimeFrom.ToString("dd-MM-yyyy HH:mm")
                    @Html.Raw(" - ")
                    @if (day.GetHours() < 24)
                    {
                        @day.TimeTo.ToString("HH:mm")
                    }
                    else
                    {
                        @day.TimeTo.ToString("dd-MM-yyyy HH:mm")
                    }
                </td>
                <td>@day.GetTimeSpendDisplay()</td>
                <td style='width:16px;'>@Html.ActionLink("wijzig", "Edit", "Day", new { id = day.Id })</td>
                <td style='width:16px;'><a onclick="return confirm('Weet je het zeker?');" href='@Url.Action("Delete", "Day", new { id = day.Id })'>verwijder</a></td>
            </tr>
        }
    </tbody>
</table>